body,
html {
  background-image: url(./Assets/blueboards.jpg);

  height: 100%;
  width: auto;
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
}

/* Onload, the fade in title */
#title {
  margin-top: 25px;
  font-size: 80px;
  text-align: center;
  -webkit-animation: fadein 5s;
}

@-webkit-keyframes fadein {
  /* Safari and Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.nav-link,
.navbar-brand {
  font-family: Georgia, serif;
}

#myName {
  transform: translate(0%, 300px);
  font-family: Georgia, serif;
}

.navbar-toggler {
  float: right;
}

#aboutMe {
  border-color: whitesmoke;
  border: 5px solid whitesmoke;
  background-image: url(./Assets/slate.jpg);
  width: 90%;
  min-height: 350px;
  padding: 40px 40px 0;
  margin: 0 auto;
  /* height: fit-content; */
  /* padding: 10px; */
  /* margin-bottom: 100px; */
}

#myPic {
  width: 40%;
  max-width: 200px;
  /* height: auto; */
  margin-right: 35px;
}

#myBlurb {
  font-family: Georgia, serif;
  display: inline;
}

#projects {
  border-color: whitesmoke;
  width: fit-content;
  border: 5px solid whitesmoke;
  padding: 10px;
  background-image: url(Assets/slate.jpg);
}

#portfolioTitle {
  text-align: center;
  font-family: Georgia, serif;
}

.projectCards {
  background-image: url(./Assets/grain.jpg);
  width: fit-content;
  height: auto;
}

#bottomNav {
  margin-top: 100px;
}
